<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.algoblu.sdwan.linkswitch.basic.po.Node">

	<select id="select" parameterType="Node" resultType="Node">
		select
		id id, node_code nodeCode, node_name nodeName, location location,
		node_ip nodeIp, status status
		from node
		<where>
			<if test='id !=null'> and id= #{id}
			</if>
			<if test='nodeCode !=null and nodeCode !=""'>
				and node_code =#{nodeCode}
			</if>
			<if test='nodeName !=null'>
				and node_name LIKE
				CONCAT(CONCAT('%',#{nodeName}),'%')
			</if>
			<if test='location !=null'>
				and location= #{location}
			</if>
			<if test='nodeIp !=null'>
				and node_ip= #{nodeIp}
			</if>
			<if test='status !=null'>
				and status= #{status}
			</if>
		</where>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<if test="limitByClause != null">
			limit ${limitByClause}
		</if>
	</select>

	<select id="count" parameterType="Node" resultType="int">
		select count(1) from node
		<where>
			<if test='id !=null'> and id= #{id}
			</if>
			<if test='nodeCode !=null and nodeCode !=""'>
				and node_code= #{nodeCode}
			</if>
			<if test='nodeName !=null'>
				and node_name= #{nodeName}
			</if>
			<if test='location !=null'>
				and location= #{location}
			</if>
			<if test='nodeIp !=null'>
				and node_ip= #{nodeIp}
			</if>
			<if test='status !=null'>
				and status= #{status}
			</if>
		</where>
	</select>

	<select id="selectByMap" parameterType="HashMap" resultType="Node">
		select
		id id, node_code nodeCode, node_name nodeName, location
		location, node_ip nodeIp, status status
		from node
		<where>
			<if test='id !=null'> and id= #{id}
			</if>
			<if test='nodeCode !=null'>
				and node_code= #{nodeCode}
			</if>
			<if test='nodeName !=null'>
				and node_name= #{nodeName}
			</if>
			<if test='location !=null'>
				and location= #{location}
			</if>
			<if test='nodeIp !=null'>
				and node_ip= #{nodeIp}
			</if>
			<if test='status !=null'>
				and status= #{status}
			</if>
		</where>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<if test="limitByClause != null">
			limit ${limitByClause}
		</if>
	</select>

	<update id="update" parameterType="Node">
		update node
		<set>
			<if test='nodeCode !=null'> node_code= #{nodeCode},
			</if>
			<if test='nodeName !=null'>
				node_name= #{nodeName},
			</if>
			<if test='location !=null'>
				location= #{location},
			</if>
			<if test='nodeIp !=null'>
				node_ip= #{nodeIp},
			</if>
			<if test='status !=null'>
				status= #{status},
			</if>
		</set>
		<where>
			<if test="id != null">
				id = #{id}
			</if>
		</where>
	</update>

	<insert id="insert" keyProperty="id" useGeneratedKeys="true">
		insert
		into node(
		node_code, node_name, location, node_ip, status
		)
		values(
		#{nodeCode}, #{nodeName}, #{location}, #{nodeIp}, #{status}
		)
	</insert>

	<!-- 自定义运行sql -->
	<update id="runSql" parameterType="SqlAdapter">
		${sql}
	</update>

	<delete id="delete" parameterType="Node">
		delete from node
		<where>
			<if test='id !=null'> and id= #{id}
			</if>
			<if test='nodeCode !=null'>
				and node_code= #{nodeCode}
			</if>
			<if test='nodeName !=null'>
				and node_name= #{nodeName}
			</if>
			<if test='location !=null'>
				and location= #{location}
			</if>
			<if test='nodeIp !=null'>
				and node_ip= #{nodeIp}
			</if>
			<if test='status !=null'>
				and status= #{status}
			</if>
		</where>
	</delete>

	<delete id="deleteByMap" parameterType="HashMap">
		delete from node
		<where>
			<if test='id !=null'> and id= #{id}
			</if>
			<if test='nodeCode !=null'>
				and node_code= #{nodeCode}
			</if>
			<if test='nodeName !=null'>
				and node_name= #{nodeName}
			</if>
			<if test='location !=null'>
				and location= #{location}
			</if>
			<if test='nodeIp !=null'>
				and node_ip= #{nodeIp}
			</if>
			<if test='status !=null'>
				and status= #{status}
			</if>
		</where>
	</delete>
</mapper>